.contact{
   
    background-color: rgb(0, 0, 0);
    padding: 10% 15%;
    color: white;
}

.ch{
    margin-bottom: 20%;
}

.ch h1{
    font-size: 8vh;
}

.fa-brands{
    font-size: 4vh;
    margin-right: 2vh;
}

.icons{
    
    padding-top: 20px;
}

@media (min-width:767px) {
    .cr{
        border-left: 6px solid green;
        padding-left: 10%;
    }
}

@media (max-width:767px) {
    .cr{
        border-top: 6px solid green;
        padding-top: 5%;
    }
}


.cr h4{
    padding: 20px 0px;
}
.cr p{
    padding-bottom: 30px;
}

a#insta:hover{
    color: rgb(252, 0, 252);
}

a#twitter:hover{
    color: rgb(29, 93, 190);
}