.landing{
    text-align: center;
    position: relative;
    padding-top: 50px;
}
.landbg{
    width: 100%;
    height: 100%;
    opacity: 50%;
}
.landingtext{
    font-family: "alice";
    position: absolute;
    padding-top: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.landingtext h4{
    padding-bottom: 50px;
}
.landingtext h5{
    padding-top: 10px;
    padding-bottom: 30px;
}
.landlogo{
    width: 150px;
    padding-bottom: 25px;
}
.lbtn{
    font-size: 20px;
    background-color: #794936;
    color: white;
}


.nav-link{
    font-size: 20px;
    color: white;
}



@media (max-width: 768px){
    .landing{
        padding-top: 120px;
        width: 100%;
        text-align: center ;
        overflow: hidden;
    }
    .landbg{
        width: 300%;
        height: 100%;
        opacity: 50%;
        transform: translateX(-35%) ;
        object-fit: contain;

    }
    .landlogo{
        width: 40%;
    }
    .landingtext{
        font-family: "alice";
        position: absolute;
        padding-top: 250px;
  
    }
    .landingtext h4{
        padding-bottom: 10px;
    }
    .landingtext h2{
        font-size: medium;
    }
    .landingtext h5{
        font-size: small;
        padding-top: 10px;
        padding-bottom: 30px;
    }
}