.ph{
    font-family: "alice";
    text-align: center;
    background-color: bisque;
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
}

.pd{
    color: white;
    text-align: center;
    position: absolute;
    background-color: rgb(226, 184, 132);
    padding: 20px 20px;
    top: 70%;
    transform: translateX(55%);
}
.pimg{
    width: 100%;
}
.pmiddle{
    padding-top: 10%;
}
.pmright{
    padding-left: 5%;
}
.pmleft{
    padding-right: 5%;
}
.pmrh{
    padding-bottom: 2%;
}
.pmrp{
    font-size: 1.5em;
}
.pbottom{
    padding: 5% 5%;
    
    text-align: center;
}



@media (max-width: 768px){
    .pd{
        
        color: white;
        text-align: center;
        position: absolute;
        background-color: rgb(226, 184, 132);
        padding: 10px 10px;
        top: 70%;
        transform: translateX(0%) ;
    }
    .pd h3{
        font-size: small;
    }
   
    .pimg{
        width: 70%;
        padding-bottom: 50px;
    }
    .pmiddle{
        padding-top: 50px;
        text-align: center;
    }
    .pmright{
        padding: 0px 70px;
        text-align: start;
    }
    .pmleft{
        padding-right: 0px;
    }
    .pmrh{
        padding-bottom: 20px;
        font-size: medium;
    }
    .pmrp{
        font-size: small;
    }
 
}